<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="tests._01_NavigateToSpiceJet" />
			<class name="tests._02_SignUpSpiceJet" />
			<class name="tests._03_LoginSpiceJet" />
			<class name="tests._04_OneWayTrip" />
			<class name="tests._05_RoundTrip" />
			<class name="tests._06_SelectFlight" />
			<class name="tests._07_08_FillPassengerAndbookingSucessfully" />
			<class name="tests._09_ValidateField" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
